.nav-wrapper {
    background-color: rgb(163 ,162 , 162);
    /* text-align: left; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 32px;
    background-color: rgb(163 ,162 , 162);
    
}


nav {
    height: 130px !important;

}

nav.brand-logo {
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pidLogo {
    position: relative !important;
    top: -120px;
    left: 105px;
    height:140px;
}

.carousel .carousel-item {
width:300px !important;}

#slide-out {
    background-color: rgb(163 ,162 , 162);
    height: fit-content;
    width: 175px;
    box-shadow: 2px 2px 4px black;
    position: absolute;
}

 #linkTags {
     font-size: 25px;
     background-color: rgb(163 ,162 , 162);
}

 #linkTags:hover {
     font-size: 26Px;
     color: rgb(190, 255, 255);
}

 #sideLinks {
     color: white;
     font-size: 15px;
     text-align: center;
     margin-top: 20px;

}

 #sideLinks:hover {
    color: rgb(0, 251, 218);
    font-size: 17px;
}